---
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import personal from "../../data/personal";
import TeamMemberCard from "../../components/TeamMemberCard.astro";

const data = {
  siteTitle: "Nuestro Equipo - Instructores y Profesionales de la Aviaci칩n",
  siteDescription:
    "Conoce al equipo de expertos en iFly. Instructores con amplia experiencia en aviaci칩n, dedicados a brindarte una formaci칩n de calidad para que logres tus metas profesionales en el mundo aeron치utico.",
  headerImage: "/src/assets/ifly-personal.jpg",
  headerAlt: "Personal de iFly",
  title: "Conoce a Nuestro Personal",
};
---

<BaseLayout siteTitle={data.siteTitle} siteDescription={data.siteDescription}>
  <Header slot="header" data={data} />

  <section class="bg-main-black/5">
    <div
      class="max-w-sm lg:max-w-6xl mx-auto px-5 pt-24 pb-12 grid lg:grid-cols-3 gap-x-6"
    >
      {personal.map((person) => <TeamMemberCard {...person} />)}
    </div>
  </section>
</BaseLayout>
