---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import HomepageHeader from '../components/HomepageHeader.astro';
---

<BaseLayout
  siteTitle="iFly"
>
	<HomepageHeader slot="header" />
	<div class="h-screen bg-black"></div>
</BaseLayout>
