---
import programs from "../data/programs.js";
---

<section class="py-24 px-5 scroll-my-24 bg-main-blue" id="sign-up-form">
  <div class="max-w-xl lg:max-w-7xl mx-auto text-white">
    <div class="flex flex-col lg:flex-row gap-10">
      <div class="lg:flex-1 flex flex-col gap-5">
        <h2 class="font-extrabold text-5xl text-main-black">
          Toma el primer paso...
        </h2>
        <p class="text-lg">
          Empieza tu a estudiar hoy en iFly Universidad Aeronáutica y toma el
          primer paso en tu carrera.
        </p>
        <p class="text-lg">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, laborum.
          Nulla voluptas a ut nesciunt est recusandae dicta. Officia quasi vero
          molestiae inventore similique dicta culpa at! Ea, obcaecati est?
        </p>
      </div>
      <div class="lg:flex-1 relative">
        <form
          class="flex flex-col max-w-4xl mx-auto gap-5 my-5 lg:my-0 bg-white p-10 rounded-xl shadow-md lg:absolute bottom-0 right-0"
        >
          <div class="flex flex-col lg:flex-row gap-5">
            <input
              type="text"
              name="first-name"
              placeholder="Nombre/s"
              class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-lg"
              required
            />
            <input
              type="text"
              name="last-name"
              placeholder="Apellido/s"
              class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-lg"
              required
            />
          </div>
          <div class="flex flex-col lg:flex-row gap-5">
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Email"
              class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-lg"
              required
            />
            <input
              type="email"
              name="confirm-email"
              placeholder="Confirm email"
              class="hidden px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-lg"
            />
            <input
              type="tel"
              name="phone"
              placeholder="Teléfono"
              class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-lg"
              required
            />
          </div>

          <select
            id="interested-in"
            name="interested-in"
            class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 rounded-lg text-gray-400 bg-white"
            required
          >
            <option value="" disabled selected>
              ¿En qué programa estás interesado?
            </option>
            {
              programs.map((program) => (
                <option
                  value={program.data.title}
                  class="bg-white text-main-black"
                >
                  {program.data.title}
                </option>
              ))
            }
          </select>

          <textarea
            id="more-info"
            name="more-info"
            placeholder="Comentario"
            class="px-5 py-4 outline-1 border-gray-400 border outline-gray-500 rounded-lg min-h-24"
          ></textarea>

          <div class="flex gap-3">
            <input
              type="checkbox"
              name="agree-data-collection"
              id="agree-data-collection"
            />

            <label
              for="agree-data-collection"
              class="text-gray-500 text-sm lg:text-base"
            >
              Acepto los términos y condiciones proporcionados por la empresa.
              Al proporcionar mi número de teléfono, acepto recibir mensajes de
              texto de iFly Universidad Aeronáutica.
            </label>
          </div>
          <button id="submit-button" disabled type="submit" class="btn-primary"
            >Enviar</button
          >
        </form>
      </div>
    </div>
  </div>
</section>
