---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const headerData = {
  title: "Aviso de Privacidad",
  headerImage: "/src/assets/sombrero-de-piloto.webp",
  headerAlt: "Sombrero de piloto",
};
---

<BaseLayout
  siteTitle="Aviso de Privacidad - iFly Universidad Aeronáutica"
  siteDescription="Consulta nuestro Aviso de Privacidad para conocer cómo protegemos y manejamos tu información personal. Garantizamos la confidencialidad y el uso seguro de tus datos conforme a la normativa vigente"
>
  <Header slot="header" data={headerData} />

  <div class="p-5 prose-xl">
    <section class="flex flex-col items-center">
      <div class="w-4/5 lg:w-3/5 py-10">
        <h2>AVISO DE PRIVACIDAD</h2>
        <p>
          iFly Universidad Aeronáutica (“El Responsable”), con domicilio en
          Calle 34 Interior No. 215-C, entre 7 Av. Alfredo Barrera y Calle 5C.
          Colonia Pensiones, C.P. 97219 Mérida, Yucatán, en cumplimiento con la
          Ley Federal de Protección de Datos Personales en Posesión de los
          Particulares, su Reglamento y demás disposiciones aplicables (en lo
          sucesivo la “Ley”), le informa que es responsable de recabar sus datos
          personales, del uso que se le dé a los mismos y de su protección, por
          lo que pone a su disposición el presente Aviso de Privacidad:
        </p>

        <h3>Información a recabar</h3>
        <p>
          Los datos que usted como titular nos proporcione, serán tratados bajo
          los principios establecidos en la Ley (licitud, consentimiento,
          información, calidad, finalidad, lealtad, proporcionalidad y
          responsabilidad).
        </p>

        <h4>
          Para las finalidades señaladas en el presente Aviso de Privacidad,
          utilizaremos los siguientes datos personales:
        </h4>

        <h5>Datos personales de contacto</h5>
        <ul>
          <li>Nombre completo</li>
          <li>Correo electrónico</li>
          <li>Teléfono fijo o móvil</li>
        </ul>
        <h5>Finalidades del tratamiento de sus Datos Personales:</h5>
        <ul>
          <li>
            Cotizar nuestros servicios/ productos de acuerdo a sus necesidades.
          </li>
          <li>Realizar un análisis estadístico.</li>
          <li>
            Enviarle información sobre promociones, experiencias personalizadas,
            campañas y servicios de la marca.
          </li>
          <li>Hacer perfiles con los gustos y preferencias del usuario.</li>
        </ul>

        <h3>Transferencia de sus datos personales</h3>
        <p>
          Le informamos que sus datos personales no serán transferidos ni
          tratados por personas físicas y/o morales distintas a las que forman
          parte del Responsable.
        </p>

        <h4>Ejercicio de los Derechos ARCO</h4>
        <p>
          En todo momento, Usted tiene derecho de ACCEDER a los datos personales
          que poseamos y a los detalles del tratamiento de los mismos, así como
          a RECTIFICARLOS en caso de ser inexactos o solicitar su CANCELACIÓN
          cuando considere que resulten ser excesivos o innecesarios para las
          finalidades que justificaron su obtención u OPONERSE al tratamiento de
          los mismos, mediante la solicitud respectiva en escrito libre que
          cumpla con los requisitos establecidos en la Ley. En caso de que
          requiera información sobre dicha solicitud, podrá contactarnos
          enviando un correo electrónico a la dirección: contacto@ifly.com.mx
        </p>
        <p>
          Una vez recibida su solicitud, le comunicaremos la determinación
          adoptada dentro del plazo que establece la Ley y en caso de que sea
          procedente, se hará efectiva de acuerdo a los plazos señalados por la
          misma.
        </p>
        <p>
          Usted puede revocar el consentimiento que, en su caso, nos haya
          otorgado para el tratamiento de sus datos personales. Para revocar su
          consentimiento deberá presentar una solicitud en los mismos términos
          que aquella que se suscribió para el ejercicio de sus Derechos ARCO.
        </p>

        <h4>Limitación del uso y divulgación de sus datos</h4>
        <p>
          El Responsable tiene el compromiso de resguardar sus datos personales
          bajo estrictas medidas de seguridad físicas, técnicas y
          administrativas, las cuales han sido implementadas, conforme al
          Reglamento de la Ley Federal de Protección de Datos Personales en
          Posesión de los Particulares y demás disposiciones legales aplicables,
          con el objeto de proteger dichos datos personales contra cualquier
          daño, pérdida, alteración, destrucción, uso, acceso o tratamiento no
          autorizados, y buscando, ante todo garantizar la confidencialidad de
          los datos y asegurarnos de minimizar cualquier riesgo o vulneración
          que pudiera presentarse.
        </p>

        <h4>Uso de cookies</h4>
        <p>
          Le informamos que en nuestras páginas de Internet utilizamos cookies,
          a través de las cuales es posible monitorear su comportamiento como
          usuario de Internet, brindarle un mejor servicio y experiencia de
          usuario al navegar en nuestra página. Los datos personales que
          obtenemos de estas tecnologías de rastreo son los siguientes: horario
          de navegación, tiempo de navegación en nuestra página de Internet y
          secciones consultadas,
        </p>

        <h4>Cambios al Aviso de Privacidad</h4>
        <p>
          El presente Aviso de Privacidad podrá ser modificado en el futuro. En
          todo caso, cualquier modificación al mismo se hará de su conocimiento
          mediante notificación por correo electrónico.
        </p>
      </div>
    </section>
  </div>
</BaseLayout>
