---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@fontsource/fira-sans";
import Navbar from "../components/Navbar";
const { pathname } = Astro.url;
const { siteTitle, siteDescription } = Astro.props;
const lang = Astro.currentLocale === "en" ? "en" : "es";
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Navbar pathname={pathname} lang={lang} client:load />
    <slot name="header" />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
